<div class="flex flex-col gap-4 place-items-center justify-items-center">

  <!-- logo & title -->
  <div class="flex justify-center w-full place-items-center gap-4 sm:mt-2">
    <img class="bg-white/50 rounded-full sm:w-full w-12" src="../../../assets/Images/icons8-twitter-avantgarde/twitter-100.svg" alt="Twitter360">
    <p class="hidden lg:block font-semibold uppercase tracking-[0.2rem] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-2 rounded text-slate-300">Twitter360</p>
  </div>

  <!-- nav links -->
  <div class="mt-12 flex flex-col gap-4 lg:w-4/5 place-items-center">

    <app-nav-option-c *ngFor="let option of navOptions" [props]=option class="lg:w-1/2"></app-nav-option-c>

  </div>

</div>
