<div class="flex w-2/3 bg-white/30 rounded-lg p-4 pb-2 ml-auto mr-auto gap-1">
  <div class="basis-12 relative top-0 left-0">
    <img class="rounded-full h-10 w-10 cursor-pointer" src="https://img.freepik.com/free-vector/beautiful-hand-draw-landscape-with-mountain-sketch-design_1035-20277.jpg?w=2000" alt="user-pic">
  </div>
  <div class="flex flex-col basis-full h-full border-l-2 pl-2">
    <div class="flex gap-2 place-items-center">
      <p class="text-base">{{postAuthor}}</p>
      <p class="text-xs">{{timeString}}</p>
    </div>
    <div class="p-2 bg-white/30 rounded-lg">{{postContent}}</div>
    <div class="text-xs mt-0.5 ml-0.5 hover:underline cursor-pointer">{{postTag}}</div>
    <div class="flex justify-start ml-12 place-items-center mt-1">
      <div>
        <span (click)="userHitsLikeBtn()" class={{newLikeClass}}>thumb_up</span>
      </div>
    </div>
  </div>
</div>
