<div class="w-full h-screen flex md:flex-row sm:flex-col-reverse sm:gap-0 gap-1">
  <div class="xl:basis-1/4 md:basis-1/6 bg-red-300 sm:sticky p-2 text-right">
    <div *ngIf="router.url === '/home'">Navbar Main</div>
    <div *ngIf="router.url === '/settings'">Navbar Settings</div>
  </div>
  <div class="xl:basis-1/2 lg:basis-7/12 md:basis-5/6 basis-full bg-green-300 text-center flex flex-col gap-2">
    <div class="sticky top-0 bg-purple-200 p-2">Post sth</div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="xl:basis-1/4 lg:basis-1/4 sm:hidden md:hidden lg:flex bg-blue-300 text-left flex-col gap-2">
    <div class="sticky top-0 bg-yellow-200 p-2">search</div>
    <div class="bg-gray-200 p-2">trends</div>
  </div>
</div>
